# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Cache
.cache
.turbo
.contentlayer

# Logs
*.log

# Environment
.env*.local

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
